
.buttonGroup{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    text-decoration: none;
    margin: 0 10px;
    color: white;
    border: none;
    background-color: gray;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}