.detailsContainer div {
    display: flex;
    align-items: center;
    margin-left: 10%;
    flex-wrap: wrap;
}
.detailsContainer div h4{
    width: 50%;
}

.buttonGroup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

