.detailsContainer div {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-left: 5%;
    flex-wrap: wrap;
}
div p{
    margin-left: 15%;
    text-align: center;
}

.buttonGroup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.buttonGroup .btns{
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 15px;
    background: #013A6D;
}

/* Link{
    text-decoration: none;
} */