table{
    width: 100%;
}

td, th{
    padding: 8px;
}
tr:nth-child(odd) {
  background-color: #FAFAFA;
}
td .btn{
    text-decoration: none;
    text-decoration: none;
    color: #013A6D;
    margin: 0 10px;
    background-color: #F2F2F2;
    padding: 5px 12px;
    border: none;
    border-radius: 3px;
}