table{
    width: 100%;
}

td, th{
    /* border: none; */
    text-align: center;
    padding: 8px;
}
tr:nth-child(odd) {
  background-color: #FAFAFA;
}
td .btn{
    text-decoration: none;
    text-decoration: none;
    margin: 0 10px;
    background-color: #F2F2F2;
    padding: 5px 10px;
    border-radius: 3px;
}